@inherits PatternListComponent

<div class="row">
    <div class="col-md-12">
        <RadzenLabel Text="Select your desired program from the list of available program."></RadzenLabel>
    </div>
</div>
<div class="row" style="margin-top:15px;">
    <div class="col-md-12">
        <RadzenDataGrid Data="@PatternList" TItem="Pattern" @ref="grid" IsLoading="isLoading" LoadData="@GetPatternList"
            SelectionMode="DataGridSelectionMode.Single" @bind-Value=@Selected>
            <Columns>
                <RadzenDataGridColumn TItem="Pattern" Property="PatternNumber" Title="ID" Width="40px"
                    TextAlign="TextAlign.Center" />
                <RadzenDataGridColumn TItem="Pattern" Property="PatternName" Title="PatternName"
                    TextAlign="TextAlign.Center" />
                <RadzenDataGridColumn TItem="Pattern" Title="StepCount" TextAlign="TextAlign.Center">
                    <Template Context="data">
                        @data.StepCount Steps.
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="Pattern" Title="TotalTime" TextAlign="TextAlign.Center">
                    <Template Context="data">
                        @TimeSpan.FromMinutes(data.TotalTime).ToString(@"hh\:mm") Hrs.
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="Pattern" Title="TotalTime" TextAlign="TextAlign.Center">
                    <Template Context="data">
                        <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Size="ButtonSize.Small" Class="m-1"
                            Click="@(args => DeleteRow(data))">
                        </RadzenButton>
                    </Template>
                </RadzenDataGridColumn>
            </Columns>
        </RadzenDataGrid>
    </div>
</div>
<div class="row" style="margin-top:15px;">
    <div class="col-md-12" style="text-align:center;">
        <RadzenButton Size="ButtonSize.Medium" Text="Load" Click="@((args) => btnLoadClick(args))"></RadzenButton>
    </div>
</div>