@inherits GraphSettingComponent

<RadzenCard style="height: 540px;">
    <ChildContent>
        <div class="row">
            <div class="col-md-6">
                <h6 class="mb-4">Select Year</h6>
                <RadzenDropDown TValue="int" Data=@(YearList) Value="@(DateTime.Today.Year)" Class="w-100" />
            </div>
            <div class="col-md-6">
                <h6 class="mb-4">Select Month</h6>
                <RadzenDropDown TValue="int" Data=@(MonthList) Value="@(DateTime.Today.Month)" Class="w-100" />
            </div>
        </div>
        <div class="row" style="margin-top:10px;">
            <div class="col-md-12">
                <RadzenListBox @bind-Value=@Selected Data=@LogList TextProperty="LogList" Style="height:200px" Class="w-100">
                    <Template>
                        @* LogID: @((context as OvenLogList).LogID) *@
                        <RadzenLabel Text="@($"LogID : {(context as OvenLogList).LogID} | ")"></RadzenLabel>
                        <RadzenLabel Text="@($"PatternID : {(context as OvenLogList).PatternID} | ")"></RadzenLabel>
                        <RadzenLabel Text="@($"StartTime : {(context as OvenLogList).StartLog.ToShortTimeString()} | ")"></RadzenLabel>
                        <RadzenLabel Text="@($"EndTime : {(context as OvenLogList).EndLog.ToShortTimeString()}")"></RadzenLabel>
                    </Template>
                </RadzenListBox>
                <RadzenButton ButtonStyle="ButtonStyle.Warning" Text="Plot" Size="ButtonSize.Medium"
                    style="margin-top :15px;" Class="w-100" Click=@PlotChart />
            </div>
        </div>
    </ChildContent>
</RadzenCard>