@inherits AddStepComponent

<div class="row">
    <div class="col-md-12">
        <RadzenTemplateForm Data="@Pattern" TItem="PatternItem" Submit="@FormSubmit">
            <ChildContent>
                <div style="margin-bottom: 1rem" class="row">
                    <div class="col-md-3">
                        <RadzenLabel Text="StepNO" Component="StepNO" style="width: 100%">
                        </RadzenLabel>
                    </div>
                    <div class="col-md-9">
                        <RadzenNumeric style="width: 100%" ShowUpDown="false" @bind-Value="@(Pattern.Step)" TValue="int" Min="1" Max="16" Name="StepNO">
                        </RadzenNumeric>
                    </div>
                </div>
                <div style="margin-bottom: 1rem" class="row">
                    <div class="col-md-3">
                        <RadzenLabel Text="Temp" Component="Temp"  style="width: 100%">
                        </RadzenLabel>
                    </div>
                    <div class="col-md-9">
                        <RadzenNumeric style="width: 100%" ShowUpDown="false" @bind-Value="@(Pattern.Temp)" TValue="int" Min="30" Max="999" Name="Temp">
                        </RadzenNumeric>
                    </div>
                </div>
                <div style="margin-bottom: 1rem" class="row">
                    <div class="col-md-3">
                        <RadzenLabel Text="Duration" Component="Duration" style="width: 100%">
                        </RadzenLabel>
                    </div>
                    <div class="col-md-9">
                        <RadzenNumeric style="width: 100%" ShowUpDown="false" @bind-Value="@(Pattern.StepDuration)" TValue="int" Min="0" Max="999" Name="Duration">
                        </RadzenNumeric>
                    </div>
                </div>
                <div class="row">
                    <div class="col offset-sm-3">
                        <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Add" ButtonStyle="ButtonStyle.Primary">
                        </RadzenButton>
                        <RadzenButton ButtonStyle="ButtonStyle.Light" style="margin-left: 1rem" Text="Cancel" Click="@Close">
                        </RadzenButton>
                    </div>
                </div>
            </ChildContent>
        </RadzenTemplateForm>
    </div>
</div>